.callback-count-container {
  font-size: 1em;
  width: 25em;
  margin: 0 auto;

  .button {
    display: inline-block;
    height: 2.5em;
    border: 1px solid burlywood;
    background: transparent;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    width: 45%;
    margin-right: 2px;

    &:focus {
      outline: none;
      border-color: orange;
      box-shadow: 0 0 5px orange;
    }
  }
}